e/*
    Student Name: Charles Smith
    Date: 27 November, 2023
    File Name: styles.css
*/

body, header, nav, main, footer, img, h1, h2, h3, ul, aside, figure, figcaption, iframe, video {
	margin: 0;
	border: 0;
	padding: 0;

}

footer { 
	margin-top: 1.5em;

}

footer p {
	display: block;
	font-family: serif, sans-serif;

}

iframe {
	border: 2px solid #000;
	width: 80%;
	height: 400px;
	margin: 0 auto;
	display: block;
	
}

main h2 { 
	text-align: center;
	padding: 1em;

}

main p {
	text-align: center;
	font-size: 1.5em;

}
	

.hero {
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../images/Beauty.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}

.welcome {
	position: absolute;
	top: 40%;
	
}

.display-1 {
	font-size: 4em;
 	
}

.bg-brown {
	background-color: #000066;
	
}

/* Media Query for Tablet Viewport */
@media (min-width: 768px) { 
    
    .welcome {
        top: 20%;
        left: 5%;
        padding: 2em;
    }
	
	.hero {
		background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../images/Header.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		
	}

	footer p {
		display: inline-block;
		margin: 0 1em;

	}

	iframe {
		height: 500px;

	}

}

/* Media Query for Desktop Viewport */
@media (min-width: 992px) { 
    
    .hero {
        background-position: left;
    }
    
    .display-1 {
        font-size: 8em;
    }
}
