/*
	Charles Smith - CSS Web Design
*/

body, header, nav, main, footer, img, h1, h2, h3, ul, aside, figure, figcaption, iframe, video {
	margin: 0;
	border: 0;
	padding: 0;

}

.row {
	margin-top: 2em;

}

.row h1, .row p {
	text-align: left;

}

.words {
	display: none;
}

.bible {
	display: block;
}

footer { 
	margin-top: 1.5em;

}

footer p {
	display: inline-block;
	font-family: sans-serif, roboto;

}

footer a {
	padding: 0 0.5em;
	margin: 0 0.5em;

}

iframe, figure img {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	display: block;
	
}

main h2, footer h2 { 
	text-align: center;
	padding: 1em;

}

main p {
	text-align: center;
	font-size: 1.5em;

}

.welcome {
	position: absolute;
	top: 40%;
	
}

.display-1 {
	font-size: 3em;
 	
}

.bg-brown {
	background-color: #000066;
	
}

/* Media Query for Tablet Viewport */
@media (min-width: 768px) { 
    
    .welcome {
        top: 20%;
        left: 5%;
        padding: 2em;
    }



	iframe, figure img {
		height: 500px;

	}

}

/* Media Query for Desktop Viewport */
@media (min-width: 992px) { 
    
    .hero {
        background-position: left;
    }
    
    .display-1 {
        font-size: 6em;
    }
}

/* Media Query for Navbar */
@media (min-width: 850px) { 
	.words {
		display: block;
	}

	.bible {
		display: none;
	}

}

/* Media Query Row Text Alignment */
@media (min-width: 576px) { 
	.row {
		margin-left: 0.75em;

	}

	.row h1 {
		text-align: center;

	}

}
